.navbar {
  display: flex;
  align-items: flex-end;
  background-color: white;
  height: 120px;
}

.nav-logo {
  max-width: 100px;
  max-height: 100px;
  padding-left: 20px;
}

.nav-buttons {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.nav-button {
  color: #e1730d;
  background-color: white;
  border: none;
  margin-right: 3px; /* Reduce the margin between the buttons */
  font-size: 24px;
  font-weight: bold;
  font-family: "Oswald", sans-serif; /* Add this line to set the font */
  cursor: pointer;
  padding: 10px 20px;
}

.nav-button:hover {
  background-color: #e1730d;
  color: white;
}
