.carousel {
  width: 1000px;
  height: 600px;
  margin: auto;
}
@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.carousel-caption {
  background-color: #144272;
}
.whatWeDo {
  background-color: #e6e6e6;
}
